@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 500px) {
  .box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
    width: 400px;
  }
}
@media screen and (min-width: 400px) {
  .box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
    width: 300px;
  }
}
@media screen and (min-width: 320px) {
  .box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
    width: 220px;
  }
}
@media screen and (min-width: 768px) {
  .box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
    width: 668px;
  }
}
@media screen and (min-width: 900px) {
  .box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
    width: 800px;
  }
}
@media screen and (min-width: 1024px) {
  .box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
    width: 924px;
  }
}
@media screen and (min-width: 1024px) {
  .box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
    width: 924px;
  }
}
@media screen and (min-width: 1280px) {
  .box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
    width: 1180px;
  }
}
@media screen and (min-width: 1440px) {
  .box__photographer--contact, .box__photographer--list, .box__photographer--filter, .box__photographer--data, .box__photographer--nav, .box__navbar {
    width: 1340px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "DM sans";
}

h1 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
}

h2 {
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #D3573C;
}

h3 {
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #901C1C;
}

span {
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #901C1C;
}

p {
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
}

.fas {
  color: #901C1C;
}

.box__list--price {
  font-family: DM Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #757575;
}

.box__navbar {
  max-width: 320px;
  height: 170px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 400px) {
  .box__navbar {
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .box__navbar {
    max-width: 650px;
  }
}
@media screen and (min-width: 1024px) {
  .box__navbar {
    margin-top: 0;
    max-width: 980px;
    height: 90px;
  }
}
.box__navbar--container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 400px) {
  .box__navbar--container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .box__navbar--container {
    flex-wrap: nowrap;
  }
}
.box__navbar--container h1 {
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .box__navbar--container h1 {
    font-size: 24px;
    font-weight: 400;
  }
}
.box__navbar--container img {
  width: 100px;
}
@media screen and (min-width: 1024px) {
  .box__navbar--container img {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .box__navbar--container img {
    width: 150px;
  }
}
.box__navbar--container ul {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0 1rem 0;
  order: 2;
}
@media screen and (min-width: 1024px) {
  .box__navbar--container ul {
    order: 0;
    width: 60%;
    height: 100px;
    margin: 0;
  }
}
.box__navbar--container ul li {
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 1024px) {
  .box__navbar--container ul li {
    margin: 0;
  }
}
.box__navbar--container ul span {
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  padding: 4px;
  margin: 0 4px 0 0;
}

.footer {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer {
    position: absolute;
    bottom: 0;
    right: 20px;
    display: flex;
    background-color: #D3573C;
    height: 60px;
    width: 250px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.footer__box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.footer__box p {
  font-size: 14px;
  font-weight: bold;
}
.footer__box i {
  color: black;
  margin-left: 0.5rem;
}

.box__list--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box__list--card img {
  width: 200px;
  height: 200px;
  margin: 3rem 0 1rem 0;
  clip-path: ellipse(50% 50%);
  object-fit: cover;
}
.box__list--text {
  width: 100%;
  height: 100px;
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box__list--tag span {
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  padding: 4px;
  margin: 0 4px 0 0;
}

.box__photographer--nav {
  width: 100%;
  max-width: 320px;
  height: auto;
  padding: 1.5rem 0 0 0;
}
.box__photographer--nav img {
  width: 150px;
  height: auto;
}
@media screen and (min-width: 320px) {
  .box__photographer--nav {
    max-width: 290px;
  }
}
@media screen and (min-width: 400px) {
  .box__photographer--nav {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .box__photographer--nav {
    max-width: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .box__photographer--nav {
    max-width: 900px;
  }
}
.box__photographer--data {
  width: 100%;
  max-width: 320px;
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
@media screen and (min-width: 320px) {
  .box__photographer--data {
    max-width: 290px;
  }
}
@media screen and (min-width: 400px) {
  .box__photographer--data {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .box__photographer--data {
    max-width: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .box__photographer--data {
    max-width: 900px;
  }
}
.box__photographer--data img {
  width: 30%;
  height: auto;
  object-fit: cover;
  clip-path: ellipse(50% 40%);
}
@media screen and (min-width: 768px) {
  .box__photographer--data img {
    width: 15%;
    clip-path: ellipse(50% 40%);
  }
}
.box__photographer--text {
  width: 70%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.box__photographer--text ul {
  width: 80%;
  overflow: hidden;
  display: flex;
}
.box__photographer--text ul span {
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  padding: 4px;
  margin: 0 10px 0 0;
}
.box__photographer--filter {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  display: none;
}
.box__photographer--filter select {
  margin-left: 5px;
  background-color: #901C1C;
  color: white;
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 1px;
}
.box__photographer--filter select option {
  border-bottom: 1px solid white;
}
@media screen and (min-width: 768px) {
  .box__photographer--filter {
    display: flex;
    max-width: 700px;
    padding: 0 0 1.5rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .box__photographer--filter {
    max-width: 900px;
  }
}
.box__photographer--list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-top: 30px;
}
@media screen and (min-width: 320px) {
  .box__photographer--list {
    max-width: 290px;
  }
}
@media screen and (min-width: 400px) {
  .box__photographer--list {
    max-width: 400px;
  }
}
@media screen and (min-width: ) {
  .box__photographer--list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.box__photographer--list img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 5px;
}
@media screen and (min-width: 320px) {
  .box__photographer--list img {
    width: 290px;
  }
}
@media screen and (min-width: 400px) {
  .box__photographer--list img {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .box__photographer--list img {
    width: 330px;
  }
}
.box__photographer--list p {
  color: #901C1C;
}
.box__photographer--list--data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.box__photographer--list--data :nth-child(1) {
  flex-shrink: 0;
}
.box__photographer--list--data :nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-shrink: 1;
  margin: 0 0.5rem;
}
.box__photographer--list--data p, .box__photographer--list--data span {
  font-size: 16px;
}
.box__photographer--contact {
  position: absolute;
  width: 100%;
  max-width: 400px;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .box__photographer--contact {
    position: relative;
    display: flex;
    bottom: 0;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: none;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  transition: all 0.25s;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;
  user-select: none;
  letter-spacing: 1px;
}

.btn {
  color: White;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  background-color: #901C1C;
}
.btn:hover {
  background-color: #D3573C;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #901C1C;
}

.btn-xl {
  padding: 0 10px;
  height: 40px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
