@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  width: 100%;
}

html {
  font-family: "DM sans";
}

h1 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
}

h2 {
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #D3573C;
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 25px;
  }
}

h3 {
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #901C1C;
}

span {
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #901C1C;
}

p {
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
}

.fas {
  color: #901C1C;
}

.box__list--price {
  font-family: DM Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #757575;
}

.box__navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 720px) {
  .box__navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.box__navbar img {
  width: 40%;
}
@media screen and (min-width: 720px) {
  .box__navbar img {
    width: 20%;
    order: 1;
  }
}
@media screen and (min-width: 720px) {
  .box__navbar h1 {
    justify-self: flex-end;
    order: 3;
  }
}
@media screen and (min-width: 1024px) {
  .box__navbar h1 {
    font-size: 24px;
    justify-self: flex-end;
    align-self: start;
    order: 3;
  }
}
@media screen and (min-width: 1440px) {
  .box__navbar h1 {
    font-size: 36px;
  }
}
.box__navbar ul {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 720px) {
  .box__navbar ul {
    order: 2;
  }
}
.box__navbar li {
  margin: 0 0 1rem 0;
}
.box__navbar span {
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  padding: 4px;
  margin: 0 4px 0 0;
}

.box__photographer--nav img {
  width: 50%;
}
@media screen and (min-width: 720px) {
  .box__photographer--nav img {
    width: 20%;
  }
}

.footer {
  display: none;
}
@media screen and (min-width: ) {
  .footer {
    position: absolute;
    bottom: 0;
    right: 20px;
    display: flex;
    background-color: #D3573C;
    height: 60px;
    width: 250px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.footer__box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.footer__box p {
  font-size: 14px;
  font-weight: bold;
}
.footer__box i {
  color: black;
  margin-left: 0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px;
}
.box__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px auto;
}
@media screen and (min-width: 1024px) {
  .box__list {
    margin: 50px auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.box__list--card {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .box__list--card {
    width: 30%;
  }
}
.box__list--card img {
  width: 100%;
  height: 280px;
  clip-path: circle(40%);
  object-fit: cover;
}
@media screen and (min-width: 720px) {
  .box__list--card img {
    width: 100%;
  }
}
.box__list--text {
  flex: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box__list--tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.box__list--tag span {
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  padding: 3px;
  margin: 0 4px;
}

.box__photographer--container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 20px;
}
.box__photographer--data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .box__photographer--data {
    height: 150px;
  }
}
.box__photographer--data img {
  clip-path: circle(38%);
  object-fit: cover;
  width: 35%;
}
@media screen and (min-width: 720px) {
  .box__photographer--data img {
    width: 20%;
  }
}
.box__photographer--text {
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.box__photographer--text h2 {
  font-size: 25px;
}
.box__photographer--text ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 0 0;
}
.box__photographer--text span {
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  padding: 3px;
  margin: 0 4px 0 0;
}
.box__photographer--filter {
  display: none;
}
@media screen and (min-width: 720px) {
  .box__photographer--filter {
    display: block;
    margin: 1rem 0;
  }
  .box__photographer--filter label {
    font-weight: bold;
    margin: 0 1rem 0 0;
  }
  .box__photographer--filter option {
    color: #fff;
    background-color: #901C1C;
  }
}
.box__photographer--list {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 720px) {
  .box__photographer--list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.box__photographer--list--container {
  margin: 0 0 1.5rem 0;
}
@media screen and (min-width: 720px) {
  .box__photographer--list--container {
    width: 30%;
  }
}
.box__photographer--list--container img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 5px;
  object-position: 0 20%;
  cursor: pointer;
  margin: 0 0 1rem 0;
}
.box__photographer--list--container video {
  border-radius: 5px;
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: 0 20%;
  cursor: pointer;
  margin: 0 0 1rem 0;
}
.box__photographer--list--data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box__photographer--list--data p {
  font-size: 16px;
  color: #901C1C;
}
.box__photographer--list--data span {
  font-size: 14px;
}
.box__photographer--list--data i {
  font-size: 12px;
}
.box__photographer--contact {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .box__photographer--contact {
    position: relative;
    justify-content: flex-start;
  }
}

.likesBox {
  display: flex;
}

.fa-heart {
  cursor: pointer;
  margin: 0 0 0 0.5rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: none;
  line-height: normal;
  font-weight: bold;
  font-style: normal;
  transition: all 0.25s;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;
  user-select: none;
  letter-spacing: 1px;
}

.btn {
  color: White;
  text-decoration: none;
  text-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  background-color: #901C1C;
}
.btn:hover {
  background-color: #D3573C;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #901C1C;
}

.btn-xl {
  padding: 0 10px;
  height: 40px;
  font-size: 14px;
  position: fixed;
}
@media screen and (min-width: 720px) {
  .btn-xl {
    position: relative;
  }
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .modal {
    padding-top: 15vh;
  }
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 95%;
  max-width: 1200px;
}
@media screen and (min-width: 1024px) {
  .modal-content {
    width: 50%;
  }
}

/* The Close Button */
.close {
  color: #901C1C;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  width: 100%;
}
.mySlides img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .mySlides img {
    height: 500px;
    object-fit: contain;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #901C1C;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #D3573C;
  text-align: center;
  transition: all 0.5;
}
@media screen and (min-width: 1024px) {
  .formModal {
    background-color: rgba(0, 0, 0, 0.95);
  }
}
.formModal form {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #D3573C;
}
@media screen and (min-width: 1024px) {
  .formModal form {
    width: 40%;
    margin: 70px auto;
  }
}
.formModal__header h2 {
  color: black;
}
.formModal__input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  margin: 1rem 0 0 0;
}
.formModal__input input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

#message {
  padding: 4rem 0.5rem;
  margin: 0 0 1rem 0;
}

/*# sourceMappingURL=style.css.map */
