$breakpoints: (
    "phone-up-360": 360px,
    "phone-up-400": 400px,
    "phone-up-480": 480px,
    "phone-down-600": 600px, 
    "tablet-up-720": 720px,
    "tablet-up-840": 840px,
    "tablet-down-1024": 1024px,
    "tablet-down-1280": 1280px,
    "desktop-1024": 1024px,
    "desktop-1440": 1440px,
    // "widescreen-up": 1440px,
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}
%edged {
    width: 100%;
    margin: 0 auto;
    @each $_key, $_value in $breakpoints {
        @include media-min($_key) {
            width: ($_value - 100px);
        }
    }
}