.box__photographer {
    &--nav {
        max-width: 350px;
        height: auto;
        padding: 1.5rem  0 0 0;
        @extend %edged;
        img {
            width: 150px;
            height: auto; 
        }
        @include media-min ("phone-up") {
            min-width: 380px;
        }
        @include media-min ("tablet-up") {
            max-width: 700px;
        }

    }
    &--data {
        @extend %edged;
        max-width: 350px;
        height: 115px;
        display: flex;
        justify-content:space-between;
        align-items:center;
        padding: 1.5rem 0 ;
        
          @include media-min ("phone-up") {
            min-width: 380px;
        }
           @include media-min ("tablet-up") {
            max-width: 700px;   
        }
        img{ 
            width:30%;
            height:auto;
            object-fit: cover; 
            clip-path:ellipse(50% 40%);
               @include media-min ("tablet-up") {
                   width: 15%;
                clip-path:ellipse(50% 40%);      
                
                }
        }
    }
    &--text { 
        width: 70%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        
        ul {
            width:80%;
            overflow: hidden;
            display: flex;
            @include media-min ("phone-up") {
                width:70%;
                
            }
            @include media-min ("tablet-up") {
                width:100%;
            }
             span {
            border: 1px solid #C4C4C4;
            border-radius:11px;
            padding: 4px;
            margin:0 10px 0 0;
            }
        }
    }
    &--filter {
        @extend %edged;
            display:none;
            @include media-min ("tablet-up") {
                display: flex;
                max-width: 700px;
                padding:0 0 1.5rem 0;
            }
    }
    &--list {
        @extend %edged;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 700px;
        // margin: 2rem;
            @include media-min ("tablet-up") {
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
            }
        img {
            width: 350px;
            height:200px;
            object-fit: cover;
            object-position: 50% 30%;
            border-radius: 5px;
            @include media-min ("phone-up"){
                 width: 380px;
            }
            @include media-min ("tablet-up"){
                 width: 330px;
            }
            
        };
        p{
            color: $primary-bg;
        }
        &--data{
            width: 100%;  
            display: flex;
            justify-content: space-between;
            align-items:center;
            margin: 1rem 0;
            :nth-child(1){
                flex-shrink: 0;
            }
            :nth-child(2){
               display: flex;
                width: 100%;
                justify-content: flex-end;
                flex-shrink: 1;
                margin:0 .5rem

                
               
                
            }
            p, span {
                
                font-size:16px;
                
            }
            
        }
    }
    &--contact { 
        width: 100%;
        max-width: 350px;
        bottom: 30px;
        position: fixed;  
        display: flex;
        justify-content:center;
        align-items:center;
        @include media-min ("tablet-up") {
            position: relative;
            display: flex;
            bottom: 0;
            
        }
    }
}