.footer {
  display: none;
  
    &__box {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
            p{
                font-size: 14px;
                font-weight: bold;
            }
            i {
                color: black;
                margin-left:0.5rem;
            }

    }

}