.box__navbar {
    // flex: 20%;
   
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @include media-min("tablet-up-720") {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
        img {
            width: 40%; 
            @include media-min("tablet-up-720") {
                width: 20%;
                order:1
            }
          
            
        }
        h1 {
            
            @include media-min("tablet-up-720") {
               
                justify-self: flex-end;
                order:3
            }
            @include media-min("desktop-1024") {
                font-size:24px;
                
                justify-self: flex-end;
                align-self: start;
                order:3
            }
             @include media-min("desktop-1440") {
                font-size:36px;
               
            }
        }
        ul {
            margin-top: 1rem;
            display: flex;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
               @include media-min("tablet-up-720") {
               
                order:2
            }
        }
        li {
            margin: 0 0 1rem 0;          
                    }
        span {
            border: 1px solid #C4C4C4;
            border-radius:11px;
            padding: 4px;
            margin:0 4px 0 0;     
            cursor: pointer;              
                    }
                    span:focus {
                   border: 1px solid black; 
                }
    // &--container {
    //     width: 100%;
    //     display: flex;
    //     flex-wrap: wrap;
    //     img {
    //         width: 50%;
    //     }
    // }
}

//Photographer section
.box__photographer {

    &--nav {
        
        img {
            width: 50%;
            @include media-min("tablet-up-720") {
                width:20%;
            }
        }
        
    }

}


// .breadcrumb-item:hover {
//     border : 1px solid black
// }