@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
html{
    font-family:'DM sans'
}
h1{
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: $primary-text;
    @include media-min ("desktop-1024") {
        font-size: 25px;
    } 
}
#modal-heading{
    color: black;
    font-size: 52px;
}
#title {
    color: $secondary-text-red;
    align-self: center;
}
h2{
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    // line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: $primary-bg;
    @include media-min ("desktop-1024") {
        font-size: 25px;
    }
}
h3 {
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: $primary-bg;
}
span {
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: $primary-bg;
}
p {
    font-family: DM Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
}
.fas {
    color: $primary-bg;
}
.box__list--price{
    font-family: DM Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;


}
#total__like {
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.box__photographer--title {
    font-size: 64px;
}

.font__size--13{
    font-size: 13px;
    font-weight: normal;
}